<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bootstrap</param-value>
    </context-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!-- Servlets & mapping -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping> 
     <!--   <servlet> -->
<!--     <servlet-name>SecurityServlet</servlet-name> -->
<!--     <servlet-class>hr.neos.test.servlet.SecurityServlet</servlet-class> -->
<!--     <load-on-startup>1</load-on-startup> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>SecurityServlet</servlet-name> -->
<!--     <url-pattern>*.sec</url-pattern> -->
<!--   </servlet-mapping> -->

    
    <resource-ref>
        <res-ref-name>java:app/jdbc/LabanoroDatasource</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    
    <data-source>
        <name>java:app/env/LabanoroDB</name>
        <class-name>org.apache.derby.jdbc.ClientXADataSource</class-name>
        <server-name>localhost</server-name>
        <port-number>1527</port-number>
        <database-name>LabanoroDB</database-name>
        <user>LabanoroDB</user>
        <password>LabanoroDB</password>
        <property>
            <name>connectionAttributes</name>
            <value>;create=true</value>
        </property>
    </data-source>
</web-app>
