/* 
    Created on : Mar 19, 2016, 7:56:52 PM
    Author     : NecrQ
*/
body { 
    padding-top: 65px; 
    background-image: url("https://www.apva.lt/uploads/images/labanoras%20008.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.ui-datascroller-item{
    font-size: 20px;
    
}

.text-bg {
    background: rgba(224,224,224,0.8);
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-top: 3px;
}
.invisible-border{
    padding-right: 5px;
    padding-top: 5px;
}
.btn-green{
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 14px;
}
.ui-accordion{
    background-color: #5cb85c;
}
.ui-accordion-header{
    font-family: sans-serif;
    font-weight: 100;
    color: white;
}
.ui-datepicker td {
    color: #5cb85c;
}
.ui-galleria-filmstrip-wrapper {
    display:none;
}

.small-text{
    font-size: 14px;
    font-family: sans-serif;
}
.title-text{
    font-size: 20px;
    font-weight: 300;
    font-family: sans-serif;
}
.price-text{
    font-size: 25px;
    font-weight: 300;
    font-family: sans-serif;
    text-align: right;
}
.twenty-percent {
     width: 20%;
     text-align: left;
     font-family: sans-serif;
}
.forty-percent {
     width: 40%;
     text-align: left;
     font-family: sans-serif;
}
.sixty-percent {
     width: 60%;
     text-align: left;
     font-family: sans-serif;
}
.eighty-percent {
     width: 80%;
     text-align: left;
     font-family: sans-serif;
}
.top-alignment {
     vertical-align: top;
}
.form-button-bar{
    width: 100%;
}

.align-right{
    text-align: right;
    width: 50%
}
.align-left{
    text-align: left;
}

  
.pe-dynaform-cell input,  
.pe-dynaform-cell textarea,  
.pe-dynaform-cell[colspan="1"] input,  
.pe-dynaform-cell[colspan="1"] textarea {  
    width: 150px;  
}  

 
.pe-dynaform-cell.calendar input,  
.pe-dynaform-cell[colspan="1"].calendar input {  
    width: 120px;  
}  

.pe-dynaform-cell.select .ui-selectonemenu {  
    width: 157px !important;  
}  

.pe-dynaform-cell.select .ui-selectonemenu .ui-selectonemenu-label {  
    width: 130px !important;  
}

.new-payment {
    background: #F75D59  !important ;
}
